@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300..700&family=Kaushan+Script&family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #fff
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: #021003;
    z-index: 1000;
   
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-family: "Luckiest Guy";
    font-weight: 500;
    color: #fefefe;
    text-decoration: none;
    
}

.logo img{
    width: 100px;
}

#menu-icon{
    font-size: 3rem;
    color: #fefefe;
    cursor: pointer;
    display: none;
}

.nav-menu ul{
    display: flex;
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    margin-left: 4rem;
    font-family: "Luckiest Guy";
    color: #fefefe;
    font-size: 1.9rem;
    transition: 0.3s ease;
}

.nav-menu a:hover,
.nav-menu.active{
    color: #cb0c02;
    
}

/* Home Section */
.home{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
    padding-top: 15rem;
    
}

.home-content{
    padding-left: 20rem; 
    padding-top: 100px;
    text-align: left;
}

.home-content h1{
    padding-top: 0;
    font-size: 10rem;
    font-weight: 500;
    font-family: "Luckiest Guy", cursive;
    color: #cb0c02;
}

.home-content p{
    font-size: 3rem;
    font-family: "Luckiest Guy";
    width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.3;

   
}

.btn{
    background: #cb0c02;
    color: #fefefe;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 0.2rem solid #021003;
    cursor: pointer;
    transition: 0.3s ease ;
}

.btn:hover{
    box-shadow: 0 0 1.6rem #cb0c02;
}

.home-img{
    align-self: flex-end;
}

.home-img img{
    max-width: 100%; 
}

/* Menu Section */

.menu-section{
    padding: 10vw 8vw 10vw 8vw;
     background-color: #f8f8f8;
}
.menu-section h2{
    text-align: center;
    font-family: "Luckiest Guy";
    color: #021003;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 5rem;
    
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu-varieties{
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 15px #cb0c02;
    background: #021003;
    border: 3px solid #cb0c02;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.menu-varieties:hover{
    transform: scale(1.1) translateY(-12px);
    box-shadow: 0 0 25px #cb0c02;
}

.menu-varieties h2{
    margin-bottom: 2rem;
    font-family: "chewy";
    font-size: 25px;
    font-weight: 500;
    color: #fefefe;
}

.menu-varieties p{
    margin-bottom: 2rem;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #fefefe;
}
.menu-varieties img{
    max-width: 100%;
    max-height: 160px;
}

.menu-varieties .price-line{
    font-family: "Chewy";
    color: #fefefe;
    font-size: 16px;
    font-weight: 500;
}

.menu-varieties .btn{
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    margin-bottom: 20px;

}

.menu-varieties a i{
    font-size: 1.5rem;
    text-align: center;
    

}

/* Deal Section */

.deals{
     padding: 10vw 8vw 7vw 8vw;
}

.deals h2{
    text-align: center;
    font-family: "Luckiest Guy";
    color: #021003;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 7rem;
}

.deal-section{
  display: grid;
grid-template-columns: repeat(4,1fr);
  justify-content: center;
  gap: 20px;
}

.deal-box{
    max-width: 350px;
    min-height: 400px;
    background: #cb0c02;
    border-radius: 2rem;
    padding: 5px 5px; 
    transition: all 0.5s ease;
}

.deal-box:hover{
     transform: scale(1.1) translateY(-12px);
    box-shadow: 0 0 25px #cb0c02;
}

.deal-box img{   
    width: 100%;   
    height: 350px;
    object-fit: cover;
    border-radius: 2rem;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 8px 8px;
    color: #fefefe;
    font-size: 16px;
    font-family: "Chewy";
    font-weight: 500;
    
}

.details span{
    background: #021003;
    width: 80px;
    text-align: center;
    border-radius: 5px;
}

.deal-heading{
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
}
.deal-heading h5{
    font-size: 16px;
    color: #fefefe;
    font-family: "Chewy";
    font-weight: 500;
}

.plus-icon i{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #021003;
    background: #fefefe;
    border-radius: 50%;
    margin-right: 8px;
}



/* Customer Reviews */

.reviews{
     padding: 10vw 14vw 10vw 14vw;
     
    
}

.reviews h2{
    margin-bottom: 7rem;
    text-align: center;
    font-size: 5rem;
    font-family: "Luckiest Guy";
    font-weight: 500;
}

.wrapper{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 3rem;
align-items: center;
justify-content: center;
padding-bottom: 8rem;
}

.customer-reviews{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-width: 400px;
    background: #cb0c02;
    border: 3px solid #fefefe;
     box-shadow: 0 0 40px #021003;
    margin: 0 2rem;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fefefe;
    gap: 1.5rem;
    border-radius: 2rem;
    font-family: "Chewy";
    font-weight: 500;
    transition: all 0.5s ease;
}

.customer-reviews:hover{
    transform: scale(1.1) translateY(-12px);
    box-shadow: 0 0 25px #cb0c02;
}

.wrapper h3{
    font-size: 2.5rem;
    font-weight: 500;
}

.rating{
    color: gold;
    font-size: 2rem;
}


.wrapper p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.customer-reviews img{
    width: 18rem;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #fefefe;
    box-shadow: 0 0 25px #fefefe;
}

/* Footer Section */

footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, #000000 80%, #cb0c02);
    color: #fefefe;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 15px;
    line-height: 20px;
}

.footer-logo{
    width: 180px;
}

.rows{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}


.email-id{
    width: fit-content;
    border-bottom: 1px solid #fefefe;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fefefe;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cb0c02;
    margin-bottom: 50px;
}

form .bx-envelope{
    font-size: 18px;
    margin-right: 10px;
}
.bx-right-arrow-alt{
    font-size: 15px;
    background: #fefefe;
    color: #cb0c02;
    font-weight: 700;
}

form input{
    width: 100%;
    background: transparent;
    color: #fefefe;
    border: 0;
    outline: none;
}

.social-icons .bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-left: 3px;
    font-size: 20px;
    color: #f8f8f8;
    background: #cb0c02;
    cursor: pointer;
    transition: 0.3s ease;
}

.social-icons i:hover{
    box-shadow: 0 0 1.6rem #fefefe;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #cb0c02;
    margin: 20px auto;
}

.copyright{
    text-align: center;

}

/* Responsive Design */

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3%;
    }
}


@media (max-width: 991px){
    .nav-menu{
        position: absolute;
        top: 100%;
        right: -100% ;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        background: #000000;
        z-index: 999;
        padding-top: 2rem;
        
    }

    .nav-menu ul {
    flex-direction: column;
    align-items: center;
}

    .nav-menu ul li{
        padding: 20px;
        
    }

    .nav-menu ul li a{
        font-size: 2.5rem;
    }

    .nav-menu.active{
        right: 0;
    }

    #menu-icon{
        display: block;
    }

    .home {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        padding-top: 15rem;
        gap: 2rem; 
    }

    .home-content {
        padding-left: 3rem;
        padding-top: 10rem;    
    }

    .home-content h1 {
        font-size: 6rem;  
    }

    .home-content p {
        width: 100%;
        font-size: 1.8rem;
        line-height: 1.5;
        text-align: left;
    
    }

    .home-img {
        margin-top: 4rem;
    }

    .home-img img {
        width: 80%;
    }

    .menu-section .menu-container{
    grid-template-columns: repeat(1, 1fr);
    }
    
    .deal-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .wrapper{
        grid-template-columns: repeat(1,1fr);
    }

    footer .rows{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .col{
        flex-basis: 100%;
        margin-bottom: 2rem;
    }

    .col h3{
        margin: 0 auto 20px;
    }

    

}

@media (max-width:617px){

    .header{
        padding: 1rem 2%;
    }

    .nav-container{
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .logo{
        gap:0;
    }
    html{
        font-size: 50%;
    }

    .home-content h1{
        font-size: 4rem;
    }

    .home-content p{
        font-size: 1.5rem;
    }

.menu-section .menu-container{
        grid-template-columns: 1fr;
    }

    .deal-section{
        grid-template-columns: 1fr;
        gap: 20px;
    }

     .deal-box {
        max-width: 100%; 
        margin: 0 auto;
     }

    .wrapper{
        grid-template-columns: 1fr;
}
}
     


